* {
    box-sizing: border-box;
}

header {
    background-color: yellow;
}

body {
    background-image: repeating-radial-gradient(red,pink, orange);
    border-image-repeat: repeat;
    margin-top: 0px;
    font-family: Helvetica, sans-serif;
}

#column-two {
    font-family: Helvetica, sans-serif;
    background-color: transparent;
}

img {
    width: 100%;
    padding: 2em;
    border: 5px dashed red;
}

h1 {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    background-color: red;
}

h2, h3 {
    color: blue;
    text-align: center; 
    padding: 0px;
}

nav a.nav-link {
    background-color: yellowgreen;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 18px;
    font-style: italic;
}

#nav-items {
    text-align: center;
    padding: 5px;
}

button[type="submit"] {
    color:green;
    margin: 5px auto;
  }
  
button[type="reset"] {
    color: red;
    margin: 5px auto;
  }
  
.correct {
    background-color: lime;
  }
  
.incorrect {
    background-color: fuchsia;
  }

section#aboutquiz  {
    background-color: rgba(255, 0, 0, 0.3);
    float: right;
    width: 50%;
    padding: 2em;
    text-align: center;
}

section#guessquiz {
    background-color: rgba(0, 0, 255, 0.3);
    position: relative;
    float: left;
    width: 50%;
    padding: 2em;
    text-align: center;
}

label {
    font-weight: bold;
    color: rgb(58, 4, 58);
    display: block;
    padding: 3px 3px 3px 3px;
  }
  
@media screen and (max-width: 600px) {
    img {
        max-width: 50%;
        float: right;
        clear: both;
        margin: 2px;
    }
    header {
        width: 100%;
        background-color: yellow;
    }
    #list-of-facts {
        text-align: left;
    }
}

@media screen and (min-width: 800px) {
    img {
        width: 50%;
        display: inline-block;
        float: left;
        margin-right: 22px;
    }
    #column-two {
        margin-left: 100px;
    }
}